.Section { 
    position:relative;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 1em;
    box-shadow: 0 0 1rem black;
    background-position-y: 61%;
}

.Section-selected {
    min-height: 76vb;
}

.Section-unselected {
    min-height: 8vb;
}